<nav class="navbar navbar-expand-lg  bg-dark">
    
      <div class="navbar-nav">
        <a routerLink="/club" class="nav-item nav-link active" href="#">Club <span class="sr-only">(current)</span></a>
        <a routerLink="/search/searchclub" class="nav-item nav-link" href="#">Search</a>
        <a routerLink="/remember" class="nav-item nav-link" href="#">Remember</a>
      </div>
      
    
    <div class="button-box">
      <div class="form-button">
        <form class="form-inline">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </div>
    
  </nav>